# Go binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
__debug_bin*

bruno/environments/*.private.bru

# Go build/vendor
vendor/

# Inky Frame Dashboard
.inky

firmware/env.py

coverage.html

# Google Credentials
*-credentials.json
credentials.json
